<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Resep</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<style>
    body {
        background-image: url("/img/bg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<body class="bg-gray-100">
    <!-- start navbar -->
    <nav class="navbar navbar-expand-lg bg-yellow-500 p-6 flex justify-between items-center">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Creacipe</a>
      <button class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="nav-links flex space-x-4" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-lg" aria-current="page" href="/">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-lg" href="/koleksi">Koleksi Resep</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-lg" href="/tentang">Tentang</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <!-- end navbar -->
    <!-- start form -->
    <main class="py-8">
        <div class="main-content text-center mt-10 mx-auto p-5 bg-white bg-opacity-90 shadow-2xl rounded-lg max-w-5xl" style="background-image: url('/img/cooking.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
            <div class="relative p-4">
                <div class="relative inline-block px-4 py-2 rounded" style="backdrop-filter: blur(2px); background: rgba(255, 255, 255, 0.3);">
                    <h1 class="text-2xl font-bold text-center">Tambah Resep</h1>
                </div>
            </div>
        </div>
        <form id="recipe-form" class="w-3/4 mx-auto bg-gray-200 rounded-lg p-8" action="/koleksi/add" method="POST">
            <div class="form-group">
                <label for="nama-resep" class="block mb-1">Nama Resep:</label>
                <input type="text" id="nama-resep" name="judul" required class="w-full px-4 py-2 border rounded-lg">
            </div>
            <div class="form-group">
                <label for="bahan-bahan" class="block mb-1">Bahan-bahan:</label>
                <textarea id="bahan-bahan" type="text" name="bahan" required class="w-full px-4 py-2 border rounded-lg"></textarea>
            </div>
            <div class="form-group">
                <label for="langkah-pembuatan" class="block mb-1">Langkah Pembuatan:</label>
                <textarea id="langkah-pembuatan" type="text" name="langkah" required class="w-full px-4 py-2 border rounded-lg"></textarea>
            </div>
            <div class="mt-5">
              <button type="submit" class="w-full bg-orange-500 text-white px-4 py-2 rounded-lg btn btn-primary btn-sm">Simpan</button>
              <div class="mt-5">
              <a href="/koleksi" class="btn btn-sm btn-secondary">Kembali</a>
              </div>
            </div>
        </form>
    </main>
    <!-- end form -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
